.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.culomna {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
button {
  width: 80px;
  height: 80px;
  margin: 5px;
}
